{% load static %}


<h1>Today Transporter Statistic</h1>

<table class="table table-striped w-auto">
    <thead class="table-dark">
    <tr>
        <th scope="col">Transporter name</th>
        <th scope="col">Today closed orders</th>
        <th scope="col">Today likes</th>
        <th scope="col">Like?</th>
        <th scope="col">Total likes</th>
        <th scope="col">Total closed orders</th>
    </tr>
    </thead>
    <tbody>

    {% for obj in data_for_print %}
        <tr>
            <td class="text-center">{{ obj.transporter }}</td>
            <td class="text-center">{{ obj.today_closed_orders }}</td>
            <td class="text-center">{{ obj.today_likes }}</td>


            <td class="text-center">
                {% if obj.transporter == request.user.username %}
                    {#                    {{ 'сегащният транспортер' }}#}
                {% else %}
                    {% if obj.curren_user_like %}
                        {#                        {{ 'сегашният юсер го е харесал' }}#}
                        <form method="post"> {% csrf_token %}
                        <button type="submit" name="button-like" value="{{ obj.transporter }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                 class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                            </svg>
                        </button>


                    {% else %}
                        {#                        {{ 'не го е харесал' }}#}
                        <div class="xsss">
                            <form method="post"> {% csrf_token %}
                                <button type="submit" name="button-like" value="{{ obj.transporter }}">
                                    <span class="heart">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-heart" viewBox="0 0 16 16" id="IconChangeColor">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
                                              id="mainIconPathAttribute"></path>
                                    </svg>
                                    </span>
                                </button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}

            </td>
            <td class="text-center">{{ obj.total_likes }}</td>
            <td class="text-center">{{ obj.total_closed_orders }}</td>


        </tr>
    {% endfor %}
    </tbody>
</table>

